body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Renew styling from here! */
@font-face {
    font-family: roboto-condensed;
    src: url('fonts/roboto-condensed-v16-latin-regular.eot');
    src: url('fonts/roboto-condensed-v16-latin-regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto-condensed-v16-latin-regular.woff2') format('woff2'),
         url('fonts/roboto-condensed-v16-latin-regular.woff') format('woff'),
         url('fonts/roboto-condensed-v16-latin-regular.ttf') format('truetype'),
         url('fonts/roboto-condensed-v16-latin-regular.svg') format('svg');
}

* {
    font-family: roboto-condensed, sans-serif;
}

.navbar {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    padding: 2em 0px;
}

.nav-item {
    margin-left: 0.9em;
}

.nav-item > a {
    color: #333;
    padding: 0.8em 0.8em;
    text-decoration: none;
    font-size: 1.1em;
}

.nav-item.active > a {
    background-color: #00959F;
    color: #FFF;
}

.navbar-brand {
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0.5em;
    z-index: 1;
    padding: 0px;
}

.jumbotron {
    background-image: url(img/banner_background.jpg);
    background-size: cover;
    min-height: 360px;
}

.product h2 {
    color: #B1B1C1;
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 0.6em;
}

.product img {
    margin-bottom: 1em;
}

.btn {
    padding: 0.50em 1.5em;
    background: #00959f;
    border-radius: 1px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.1em;
    color: #FFF;
}

.recommendation {
    background-color: #B1BCC6;
}

.recommendation-frame {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
}

