@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="product col-md-3">
        <h2 class="text-center">HJEMMESIDE</h2>
        <img class="mx-auto d-block" src="~/Content/img/Website.png" />
        <p class="text-center">
            Ny hjemmeside i responsivt design, så siden ser godt ud både på pc og tlf
        </p>
        <p class="text-center"><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Læs mere</a></p>
    </div>
    <div class="product col-md-3">
        <h2 class="text-center">WEBSHOP</h2>
        <img class="mx-auto d-block" src="~/Content/img/Webshop.png" />
        <p class="text-center">
            Få dine varer over disken i det digitale univers med en webshop fra Renew
        </p>
        <p class="text-center"><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Læs mere</a></p>
    </div>
    <div class="product col-md-3">
        <h2 class="text-center">OFFICE 365</h2>
        <img class="mx-auto d-block" src="~/Content/img/Office.png" />
        <p class="text-center">
            Dit domænenavn som din email, og en komplet officepakke til pc og telefonen
        </p>
        <p class="text-center"><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Læs mere</a></p>
    </div>
    <div class="product col-md-3">
        <h2 class="text-center">DESIGN</h2>
        <img class="mx-auto d-block" src="~/Content/img/Design.png" />
        <p class="text-center">Vi hjælper dig med et fedt design, så du bliver set og husket på nettet
        </p>
        <p class="text-center"><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Læs mere</a></p>
    </div>
</div>
<div class="recommendation row">
    <div class="col-md-4">
        <div class="bg-white recommendation-frame">
            <p class="text-center">1</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="bg-white">
            <p class="text-center recommendation-frame">2</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="bg-white">
            <p class="text-center recommendation-frame">3</p>
        </div>
    </div>
</div>